test:
  name: certificate-benchmark-test
  description: Test issuing, verifying, and revoking certificates.
  workers:
    type: local
    number: 2
  rounds:
    - label: Issue Certificates
      description: Issuing new certificates (using CreateAsset).
      txDuration: 30
      rateControl:
       type: fixed-rate
       opts:
         tps: 50
      workload:
        module: workload/issueCertificate.js

    - label: Verify a Certificate
      description: Verifying certificates exist (using ReadAsset).
      txDuration: 30
      rateControl:
        type: fixed-rate
      opts:
        tps: 50
      workload:
        module: workload/verifyCertificate.js

    - label: Query All Certificates
      description: Browsing all certificates (using GetAllAssets).
      txDuration: 30
      rateControl:
        type: fixed-rate
        opts:
          tps: 200
      workload:
        module: workload/queryAllCertificates.js

    - label: Revoke Certificate
      description: Revoking/Deleting certificates (using DeleteAsset).
      txDuration: 30
      rateControl:
        type: fixed-rate
        opts:
          tps: 100
      workload:
        module: workload/revokeCertificate.js
